<div>



<a href="/">Home</a>
<div>
 <div class="image">
    <img src="images/cinema.jpg" alt="cine">

 </div>
 <div class="title">
    <h1>Cinema Ironhack</h1>
 </div>
    
    
   
</div>
<div class="button-container">
<a href="/movies">
<button>Check the movies!</button></a>

</div>




</div>

